<ion-header>
	<ion-navbar color="agenda">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Vos foyers</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
    <span text-center *ngIf="show && foyers.length === 0">Aucun foyer, ajouter votre premier en cliquant sur "+".</span>
    <div *ngIf="show && foyers.length > 0">
        <ion-card padding="10px" text-center *ngFor="let foyer of foyers" (click)="detail(foyer)">
            {{ foyer.name }}
            <span *ngIf="foyer.createdBy.email === currentUser.email" float-right>
                <ion-icon color="golden" name="ribbon"></ion-icon>
            </span>
        </ion-card>
    </div>
    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="createFoyer()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
