<ion-header>
	<ion-navbar color="agenda">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ show ? currentFoyer.name : '-'}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="show && users.length > 0">
        <ion-card padding="10px" text-center *ngFor="let user of users" (click)="calendar(user)">
            {{ user.email }}
        </ion-card>
    </div>
    <ion-fab *ngIf="!admin" right bottom>
        <button ion-fab color="agenda" (click)="leaveFoyer()"><ion-icon name="exit"></ion-icon></button>
    </ion-fab>
    <ion-fab *ngIf="admin" right bottom>
        <button ion-fab color="primary" (click)="addUser()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-fab *ngIf="admin" left bottom>
        <button ion-fab color="agenda" (click)="editFoyer()"><ion-icon name="settings"></ion-icon></button>
    </ion-fab>
</ion-content>
